*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: top 0.5s;
}

#start {
    background-color: hsl(140, 60%, 45%);
    padding: 1.25rem;
    text-align: left;
    text-align: center;
    font-size: 1.75em;
    text-decoration: none;
    color: white;
}

header nav a {
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
}

header nav {
    text-align: right;
    margin-right: 2rem;
}

main {
    display: flex;
    color: white;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
} main h1, main h2 {
    font-size: 2em;
    font-weight: 500;
}

article h1 {
    font-size: 4em;
} article p {
    font-size: 1.5em;
    font-weight: 300;
} article hr {
    width: 90%;
    margin: 2rem 0 2rem 0;
    border: white 1px solid;
    border-radius: 100rem;
}

.seperator {
    height: 25vh;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} #home div{
    width: 60%;
    display: flex;
    align-items: flex-start;
    margin: 2rem;
    flex-direction: column;
    font-weight: 300;
} 

#countdown{
    width: 50%;
    margin: 0;
    border-radius: 1rem;
    background-color: hsl(140, 60%, 45%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0 4rem 0;
    padding: 1.5rem;
} #countdown h2 {
    font-size: 2em;
} #countdown div{
    display: flex;
    flex-direction: column;
    align-items: center;
} #countdown p {
    font-weight: 300;
    font-size: 1.25em;
}

#about {
    background-color: #1C1C1C;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} #about div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
} #about p {
    font-size: 1.25em;
}

footer {
    display: flex;
    width: 100%;
    background-color: #1C1C1C;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
} footer hr {
    width: 50%;
    margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }

    article h1 {
        font-size: 2em;
    }

    #home {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 4rem;
    }
    #home div{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #countdown {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #about {
        margin-top: 2rem;
        padding: 4rem 0 4rem 0;
        height: auto;
    }
}