/* #region WHOLE */
*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* #endregion */

/* #region BASIC */

h1 {
    font-size: 4em;
    font-weight: 500;
}

h2 {
    font-size: 2.25em;
    font-weight: 500;
}

p {
    font-size: 1.25em;
    font-weight: 300;
}

a {
    color: hsl(140, 60%, 40%);
}

b {
    font-weight: 600;
}

hr {
    width: 90%;
    margin: 2rem 0 2rem 0;
    border: white 1px solid;
    border-radius: 100rem;
}

/* #endregion */

/* #region HEADER*/

header {
    position: fixed;
    width: 100%;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 0;
    transition: top 0.5s ease-in-out;
}

header nav {
    text-align: right;
    margin-right: 2rem;
}

header nav a {
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    transition: color 0.25s;
}

header nav a:hover {
    color: hsl(140, 60%, 40%);
}

#start {
    background-color: hsl(140, 60%, 40%);
    padding: 1.25rem;
    text-align: left;
    text-align: center;
    font-size: 1.75em;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

/* #endregion */

/* #region ARTICLE */

article {
    width: 100%;
    margin-bottom: 4rem;
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
}

article li {
    line-height: 250%;
}

article ul ul {
    margin-left: 2rem;
}

/* #endregion */

/* #region MAIN */

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

main div {
    width: 60%;
    display: flex;
    align-items: flex-start;
    margin: 2rem;
    flex-direction: column;
}

main p {
    font-size: 1.6vw
}

main h1 {
    font-size: 4.25vw;
}

/* #endregion */

/* #region COUNTDOWN */

#countdown {
    width: 50%;
    margin: 0;
    border-radius: 1rem;
    background-color: hsl(140, 60%, 40%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0 4rem 0;
    padding: 1.5rem;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */

/* #region ABOUT */

#about {
    background-color: #1C1C1C;
}

/* #endregion */

/* #region SCHEDULE */

#schedule {
    background-color: hsl(140, 60%, 40%);
}

#schedule ul {
    list-style: none;
}

#schedule div div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

#schedule div div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2rem;
}

/* #endregion */

/* #region RULES */

#rules {
    background-color: #1C1C1C;
}

#rules ul {
    margin-left: 1rem;
    width: 85%;
}

/* #endregion */

/* #region FORMAT */

#format {
    background-color: hsl(140, 60%, 40%);
}

#format div div {
    display: grid;
    grid-template-areas:
        'main main'
        'main main';
    grid-auto-columns: minmax(0, 1fr);
    width: 90%;
    justify-content: start;
    justify-items: start;
}

#format div div div{
    display: flex;
}

#format ul {
    margin-left: 1rem;
    width: 95%;
}

/* #endregion */

/* #region FOOTER */

footer {
    display: flex;
    width: 100%;
    background-color: #1C1C1C;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

footer hr {
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 0;
}

/* #endregion */

/* #region MOBILE OPTIMIZATION */

@media screen and (max-width: 900px) {
    header {
        display: none;
    }

    main {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 4rem;
    }

    main div {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        font-size: 3em;
    }

    article h1 {
        font-size: 3em;
    }

    #countdown {
        display: grid;
        grid-template-areas:
            'main main'
            'main main';
        margin-bottom: 2rem;
        width: 60%;
    }

    #countdown div {
        margin: 0.5rem;
    }

    #about {
        margin-top: 2rem;
        padding: 4rem 0 4rem 0;
        height: auto;
    }

    #schedule div div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    #schedule b {
        display: block;
        /* Causes a line break after the time */
    }

    #schedule #lunday {
        margin-bottom: 2rem;
    }

    .pipe {
        display: none;
    }

    #format div div {
        display: flex;
    }
}

/* #endregion */